@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: gray;
}

h1 {
    color: white;
    text-align: center;
    font-size: 20px;
}

h4 {
text-align: center;
padding-top: 10px;
}

span {
  font-size: 12px;
  text-align: left;
  padding-left: 20px;
}

li {
  list-style-type: none;
  padding-left: 20px;
}
.container-fluid {
    margin: 0 auto;
    width: 100%;
  }
.col .row{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-evenly
}
.item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    
  }

  .img {
    width: 100%;
    max-height:210px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .search--button {
    background-color: white;
    width: 38px;
  }

  .heading-section {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(32, 32, 32, 0.979);
  }

  .search {
    margin-left: 70px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: none;
    width:676px;
    padding-left: 4px;
    font-size: 18px;
    height: 32px;
  }

  .search--button {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
    width: 38px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: gray;
    height: 32px;
  }
 .main-button {
  display: flex;
  justify-content:center;
padding: 20px 0; }

  .more {
background-color: black;
color: white;
padding: 12px 30px;
border-radius: 20px;
text-decoration: none;
  }